@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes modal {
  from {
    top: -50%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.modal {
  animation-name: modal;
  animation-duration: 0.3s;
}
